.App{
  margin-left: 500px;
}
.colorBox{
  width: 500px;
  height: 500px;
  transition: 2s ease-out;

}
h1{
  font-family: 'Gloria Hallelujah', cursive;
  width: 500px;
  font-size: 45px;
  color: rgb(9, 104, 72);
}
p{
  font-family: 'Gloria Hallelujah', cursive;
  padding-top: 150px;
  padding-left: 75px;
  font-size: 45px;
  transition: 2s ease-out;
}